<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AirBnB clone Holberton</title>
	<link rel="stylesheet" href="../static/styles/3-header.css">
	<link rel="stylesheet" href="../static/styles/4-common.css">
	<link rel="stylesheet" href="../static/styles/6-filters.css">
	<link rel="stylesheet" href="../static/styles/3-footer.css">
	<link rel="stylesheet" href="../static/styles/8-places.css">
	<link rel="shortcut icon" href="../static/images/icon.png">

</head>

<body>

    <header>
        <div class="header_logo"></div>
    </header>

            <div class="container">
                <section class="filters">
                        <button>Search</button>
                        <div class="locations">
                                <h3>States</h3>
                                <h4>&nbsp;</h4>
                                <ul class="popover">
                                        {% for state in states|sort(attribute="name") %}
                                        <li><h2>{{ state.name }}</h2>
                                                <ul>
                                                        {% for city in state.cities|sort(attribute="name") %}
                                                        <li><h4>{{ city.name }}</h4></li>
                                                        {% endfor %}
                                                </ul>
                                        </li>
                                        {% endfor %}
                                </ul>
                        </div>
                        <div class="amenities">
                                <h3>Amenities</h3>
                                <h4>&nbsp;</h4>
                                <ul class="popover">
                                        {% for amenity in amenities|sort(attribute="name") %}
                                                <li><h4>{{ amenity.name }}</h4></li>
                                        {% endfor %}
                                </ul>
                        </div>

                </section>
        </div>		
        <section class="places">
            <h1>Places</h1>
            {% for place in places|sort(attribute='name') %}
            <div class="article-line">
                <article>
                    <div class="box_top">
                        <h2>{{ place.name }}</h2>
                        <div class="price_by_night">${{ place.price_by_night }}</div>
                    </div>
                    <div class="information">
                        <div class="max_guest">{{ place.max_guest }} Guest</div>
                        <div class="number_rooms">{{ place.number_rooms }} Rooms</div>
                        <div class="number_bathrooms">{{ place.number_bathrooms }} Bathrooms</div>
                    </div>
                    <div class="user"> <b>Owner</b>: {{ place.user.first_name }} {{ place.user.last_name }}</div>
                    <div class="description">
                        <p>{{ place.description|safe }}</p>
                    </div>
                </article>
            </div>
            {% endfor %}
        </section>


    </div>

    <footer>
        <div>Holberton School</div>
    </footer>

    <div id="hola"></div>

</body>

</html>
